@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

header {
    width: 100%;
    position: relative;
    padding-bottom: 90px;

    .wrapper {
        position: fixed;
        z-index: 9;
		width: 100%;
		background-color: $white;
        @include box-shadow(0, 10px, 10px, 0, rgba(0, 0, 0, 0.1));
        @include padding(20px, 0, 20px, 0);
    }

    .header-wrapper {
        @include flexbox();
        @include justify-content(space-between);
        width: 100%;
    }

    .logo {
        img {
            width: 200px;
        }
		// Mobile styles
        @include mq('tablet-mweb', 'max') {
            @include margin(0, 0, 0, 15px);
        }
    }

    .showMenu {
		// Mobile styles
        @include mq('tablet-mweb', 'max') {
            display: none !important;
        }
    }

    .links-wrapper {
        @include flexbox();
        @include align-items(center);

        .nav-icon {
            display: none;
            cursor: pointer;
			// Mobile styles
            @include mq('tablet-mweb', 'max') {
                display: block;
                @include padding(0, 20px, 0, 0);
            }
        }

        .nav-data {
            @include flexbox();
            @include align-items(center);

            .indiv-link {
                @include padding(0, 20px, 0, 20px);
                cursor: pointer;

                &:last-child {
                    padding: 0;
					// Mobile styles
                    @include mq('tablet-mweb', 'max') {
                        @include padding(15px, 15px, 15px, 15px);
                    }
                }

                .cart-text {
                    @include padding(0, 0, 0, 7px);
                    color: #2f2a22;
                }
				// Tablet potrait styles
                @include mq('tablet-pro', 'max') {
                    @include padding(0px, 0px, 0px, 25px);
                }
				// Mobile styles
                @include mq('tablet-mweb', 'max') {
                    @include padding(15px, 15px, 15px, 15px);
                }
            }
			// Mobile styles
            @include mq('tablet-mweb', 'max') {
                @include flex-direction(column);
                position: absolute;
                top: 89px;
                right: 0;
                left: 0;
                border: 1px solid $light-gray;
                background-color: $light-gray;
                align-items: flex-start;
                border-radius: 4px;
                transition: all .2s ease-in-out;
            }
        }
    }
}