@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.overlay-containter {
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .wrapper {
		@include align-items(flex-end);
		@include justify-content(center);
		@include flexbox();
        position: absolute;
        z-index: 1000;
        pointer-events: none;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        .pane {
            box-sizing: border-box;
            z-index: 1000;
            display: flex;
            max-width: 100%;
            pointer-events: auto;
            position: static;
            margin-bottom: 0px;
            max-height: 100%;

            .snackbar {
                border-radius: 4px;
                box-sizing: border-box;
				display: block;
				@include margin(0px,24px,24px,24px);
                max-width: 33vw;
				min-width: 344px;
				@include padding(14px,16px,14px,14px);
                min-height: 48px;
                transform-origin: center;
                background: $light-black;
                box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
                    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

                .content {
					@include flexbox();
					@include justify-content(space-between);
					@include align-items(center);
                    line-height: 20px;
                    opacity: 1;
                    font-size: 14px;
                    color: $light-gray;

                    .text {
                        color: $white;
                    }
                }
            }
        }
    }
}