<div class="overlay-containter">
    <div class="wrapper">
        <div class="pane">
            <div class="snackbar" *ngIf="snackbarShow" [@snackbar]>
                <div class="content">
                    <span class="text">{{message}} </span>
                </div>
            </div>
        </div>
    </div>
</div>