<section>
	<div class="container">
		<div class="row">
			<div class="cart-wrapper">
				<div class="cart-empty-wrapper" *ngIf="showEmptyCart">
					<div>
						<h2>
							Oops, there are no items in your cart!
						</h2>
					</div>
					<a [routerLink]="['/']">
						<div class="button secondary-button">
							Go to Products
						</div>
					</a>
				</div>
				<div class="cart-items-wrapper" *ngIf="showCart">
					<div class="items-wrapper">
						<!-- Heading -->
						<div class="heading-wrapper">
							<div class="title">
								<h2>
									My Shopping Cart 
								</h2>
							</div>
						</div>
						<!-- Product details-->
						<div class="indiv-item" *ngFor="let product of itemsPresent">
							<div class="details-wrapper">
								<div class="product-image">
									{{ product.name }}
								</div>
								<div class="price">
									{{ product.price | indianCurrency }}
								</div>
							</div>
						</div>
					</div>
					<div class="checkout-wrapper">
						<a [routerLink]="['/']">
							<div class="button secondary-button">
								Go to Products
							</div>
						</a>
						<a [routerLink]="['/']">
							<div class="button primary-button">
								Proceed to Checkout
							</div>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>