/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import './styles/mixins.scss';
@import './styles/variables.scss';

/* To remove the default browser margins */
body {
    margin: 0;
}

* {
    font-family: 'Rubik', sans-serif;
    color: $text-color;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @include mq('phablet-col') {
        max-width: 540px;
    }

    @include mq('tablet') {
        max-width: 720px
    }

    @include mq('tablet-pro') {
        max-width: 960px
    }

    @include mq('desktop') {
        max-width: 1140px
    }
}

.row {
    @include flexbox();
    @include flex-wrap(wrap);
    width: 100%;
}

a {
    @include links(#333, #333, #333, #333);
}

.secondary-button {
    border: 1px solid $blue-color;
    color: $blue-color;
}

.primary-button {
    background: $blue-color;
	@include box-shadow(0, 10px, 10px, 0, rgba(0, 0, 0, 0.1));
	color: $white;
}

.button {
    padding: 10px 30px;
    min-width: 50px;
    text-align: center;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

.blue-text {
	color: $blue-color;
	font-weight: 500;
}

h1,h2,h3 {
	font-family: $montserrat-font;
	font-weight: normal;
}

h2 {
	font-size: 26px;
}